<div class="donation-progress">
    <strong class="donation-header" data-progress-text="We've raised [percent] of our goal!">Progress toward our goal</strong>
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
</div>