<div class="product-upsell-module" style="display: none;">
    <ul class="product-upsell-list">
        <li class="product-upsell-product" id="product-upsell-product">
            <a class="product-upsell-link image" href="#"><span class="visually-hidden">View Product</span></a>
            <div class="product-upsell-description">
                <a class="product-upsell-description-text" href="#"></a>
                <div class="product-upsell-gifting-text"></div>
            </div>
        </li> 
    </ul>
</div>