.button {
    text-align: center;
    &.button--primary {
        position: relative;
        background-color: #1b3448;
        text-decoration: none;
        letter-spacing: 0;
        text-transform: none;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        border-radius: 2px;
        padding: 12px 24px;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.35s ease-in-out, padding 0.35s ease-in-out;
        z-index: 1;
        @media (max-width: 699px) {
            font-size: 14px;
            padding: 12px 18px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #1b3448;
            z-index: -1;
            transition: transform 0.5s ease-in-out;
        }

        &:hover {
            &:before {
                background-color: #1b3448;
                transform: scale(1.075);
                transition: transform 0.5s ease-in-out;
            }
        }
    }
    &.button--secondary {
        position: relative;
        background-color: #fff;
        text-decoration: none;
        letter-spacing: 0;
        text-transform: none;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        border-radius: 2px;
        border-width: 1px;
        padding: 12px 24px;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.35s ease-in-out, padding 0.35s ease-in-out;
        z-index: 1;
        @media (max-width: 699px) {
            font-size: 14px; 
            padding: 12px 18px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            z-index: -1;
            transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
        &:hover {
            color: #fff;
            &:before {
                background-color: #1b3448;
                transform: scale(1.075);
            }
        }
    }
    &.link--primary {
        font-style: normal;
        font-size: 20px;
        font-weight: 600;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        color: #000;
        @media (max-width: 699px) {
            font-size: 14px;
            padding: 8px 16px;
          }
    }
    &.link--secondary {
        font-style: normal;
        font-size: 20px;
        font-weight: 600;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        color: #fff;
        @media (max-width: 699px) {
          font-size: 14px;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

.plp-item {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    outline: 0;
    padding-bottom: 125%;
    overflow: hidden;
    transition: border 0.25s ease-in-out;

    &:before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #1b3448;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }

    &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #1b3448;
        display: block;
        position: absolute;
        bottom: 0;
        left: -1px;
        z-index: 3;
    }

    &:hover {
        img.lifestyle {
            opacity: 1 !important;
        }

        img.flat {
            opacity: 0 !important;
        }

        .plp-item__info {
            color: #fff !important;
        }

        .plp-item__purchase {
            transform: translate(-50%, 0) !important;
            opacity: 1 !important;
        }
    }

    &[data-state="default"] {
        .plp-item__sizes {
            display: none;
        }
        .plp-item__button .default {
            opacity: 1 !important;
        }
    }

    &[data-state="display-variants"],
    &[data-state="adding"],
    &[data-state="success"],
    &[data-state="error"] {
        .plp-item__purchase {
            transform: translate(-50%, 0) !important;
            opacity: 1 !important;
        }

        .plp-item__images {
            img.lifestyle {
                opacity: 1;
            }

            img.flat {
                opacity: 0;
            }
        }

        @media (max-width: 699px) {
            .plp-item__purchase {
                height: calc(100% - 36px);
            }
        }
    }

    &[data-state="display-variants"] {
        .plp-item__purchase {
            background-color: #fff;

            .plp-item__sizes {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .plp-item__button .select-size {
            opacity: 1 !important;
        }

        .plp-item__button:hover:before {
            transform: scaleY(1) !important;
        }
    }

    &[data-state="adding"] {
        .plp-item__button .adding {
            opacity: 1 !important;
        }
    }

    &[data-state="success"] {
        .plp-item__button .success {
            opacity: 1 !important;
        }
    }

    &[data-state="error"] {
        .plp-item__button .error {
            opacity: 1 !important;
        }
    }

    .plp-item__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:focus {
            border: solid 2px #1b3448;
        }
    }

    .plp-item__images {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
                object-fit: cover;
                  object-fit: fill;
            transition: opacity 0.5s ease-in-out;

            &.lifestyle {
                opacity: 0;
            }

            &.flat {
                opacity: 1;
            }
        }

        .image-flat-wrapper {
            background-color: #f6f7f9;
            pointer-events: none;
            transition: opacity 0.45s ease-in-out;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .image-flat-wrapper {
                opacity: 0 !important;
            }

            form {
                display: unset !important;
            }
        }
    }

    .plp-item__info {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        padding: 12px 18px;
        transition: color 0.45s ease-in-out;
        display: flex;
        justify-content: space-between;
        @media (max-width: 699px) {
          h2.plp-item__title {
            margin-right: 8px;
          }
        }
        @media (min-width: 700px) {
            padding: 24px;
        }

        .plp-item__title {
            margin: 0 0 3px;
            font-size: 11px;
            font-weight: 400;
            @media (min-width: 700px) {
                font-size: 14px;
            }
        }
        s {
            color: var(--color-grey-medium);
        }
        .discount-percentage {
          display: block;
          color: var(--color-red);
        }
    }

    .plp-item__purchase {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 36px);
        width: calc(100% - 36px);
        max-width: 400px;
        left: 50%;
        bottom: 18px;
        height: auto;
        z-index: 3;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.35s ease-in-out, transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
        transform: translate(-50%, 200%) !important;
        opacity: 0;
        border-radius: 2px;

        @media (min-width: 700px) {
            left: 50%;
            bottom: 30px;
            //height: calc(100% - 60px);
            width: calc(100% - 60px);
        }

        .plp-item__sizes {
            opacity: 0;
            transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
            transform: translateY(20px);
            padding: 16px 16px 0;

            .plp-item__size-list {
                margin: 0.5rem 0 1.5rem 0;
                padding: 0;
                list-style: none;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 8px;
                transition: opacity 0.35s ease-in-out;

                @media (min-width: 700px) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 14px;
                }

                @media (min-width: 1000px) {
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    grid-gap: 14px;
                }

                @media (min-width: 1200px) {
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-gap: 14px;
                }

                li {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    border: solid 1px #000;
                    border-radius: 50%;
                    padding-bottom: calc(100% - 4px);
                    transition: border-color 0.35s ease-in-out, opacity 0.35s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        border-color: var(--color-blue-bright);

                        span.label {
                            color: var(--color-blue-bright);
                        }
                    }

                    &.selected {
                        border-color: var(--color-blue-bright);
                        background-color: var(--color-blue-bright);

                        span.label {
                            color: #fff;
                        }

                        &:after {
                            background-color: var(--color-blue-bright);
                        }
                    }

                    &.soldout {
                        opacity: 0.35 !important;
                        pointer-events: none;
                    }

                    &.preorder {
                        opacity: 0.35 !important;

                        &:after {
                            content: "Pre-Order";
                            display: block;
                            bottom: -6px;
                            left: 50%;
                            transform: translateX(-50%) translateY(100%);
                            width: 100%;
                            position: absolute;
                            font-size: 10px;
                            font-weight: 600;
                            white-space: pre;
                            width: auto;
                            letter-spacing: 0;
                        }
                    }

                    span.label {
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        line-height: 100%;
                        font-weight: 500;
                        font-size: 10px;
                        transition: color 0.35s ease-in-out;
                        border-radius: 50%;
                        color: #000;
                        @media (min-width: 700px) {
                            font-size: 14px;
                        }
                        &:hover {
                            color: var(--color-blue-bright);
                        }
                    }
                }
            }
        }

        .plp-item__button {
            width: 100%;
            text-align: center;
            position: relative;
            background-color: #fff;
            text-decoration: none;
            letter-spacing: 0;
            text-transform: none;
            font-size: 14px;
            font-weight: 500;
            color: #000;
            border-radius: 2px;
            padding: 12px 18px;
            cursor: pointer;
            height: 36px;

            @media (min-width: 700px) {
                padding: 12px 24px;
                height: 48px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #fff;
                z-index: -1;
                transition: transform 0.5s ease-in-out;
            }
            @media (hover: hover) {
                &:hover {
                    &:before {
                        background-color: #fff;
                        transform: scaleY(1.075);
                        transition: transform 0.5s ease-in-out;
                    }
                }
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                transition: 0.35s ease-in-out;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}
.plp-item__purchase {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100% - 36px);
    width: calc(100% - 36px);
    max-width: 400px;
    left: 50%;
    bottom: 18px;
    height: auto;
    z-index: 3;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.35s ease-in-out, transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
    opacity: 1;
    border-radius: 2px;
    transform: translate(-50%, 0);
    text-decoration: none;

    @media (max-width: 699px) {
        bottom: 18px !important;
        top: unset !important;
        transform: translate(-50%, -50%) !important;
    }

    @media (min-width: 700px) {
        left: 30px;
        bottom: 30px;
        //height: calc(100% - 60px);
        width: calc(100% - 60px);

        .plp-item__info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 !important;
            position: relative !important;
        }

        .plp-item__title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 !important;
            margin: 0 !important;
            filter: invert(1) !important;
        }

        .plp-header__title-image {
            width: 80%;
        }

        .plp-item__button {
            display: flex !important;
            height: 36px !important;

            span {
                //display: none !important;
            }
        }
    }

    .plp-item__button {
        display: inline-block;
        width: auto;
        text-align: center;
        position: relative;
        background-color: #fff;
        text-decoration: none;
        letter-spacing: 0;
        text-transform: none;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        border-radius: 2px;
        padding: 12px 18px;
        cursor: pointer;
        height: 48px;
        opacity: 1;

        @media (min-width: 700px) {
            padding: 12px 24px;
            font-size: 18px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #fff;
            z-index: -1;
            transition: transform 0.5s ease-in-out;
        }

        &:hover {
            &:before {
                background-color: #fff;
                transform: scale(1.075);
                transition: transform 0.5s ease-in-out;
            }
        }

        span {
            display: inline;
            position: relative;
            transition: 0.35s ease-in-out;
            top: unset;
            left: unset;
            width: unset;
            height: unset;
            pointer-events: none;
            opacity: 1;
        }
    }
}

.error-msg {
    display: none;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 1em;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #888;
    background: #ef738f
}

body.template-404 {
    #MainContent {
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
 .scroll-lock .site-banner {
     z-index: 9999 !important;
 }
  @media (max-width: 920px) {
      #gorgias-chat-container iframe#chat-button {
          z-index: 999;
      }
  }

  @media (max-width: 768px) {
      #gorgias-chat-container iframe#chat-button,
      #gorgias-chat-container iframe#chat-campaigns {
        margin-bottom: 0 !important;
        right: 10px !important;
        bottom: 42px !important;
      }
  }

  catch-callout {
      opacity: 1;
  }

  catch-callout .breakdown-modal-trigger {
      color: #006aff;
      text-decoration: none;
  }
 
@keyframes dropdown {

    0%,
    100% {
        top: -70px
    }

    10%,
    90% {
        top: 0px
    }
}

@keyframes shake {

    10%,
    90% {
        left: -1px;
        color: #1b3448
    }

    20%,
    80% {
        left: 2px;
        color: #000
    }

    30%,
    50%,
    70% {
        left: -4px;
        color: #1b3448
    }

    40%,
    60% {
        left: 4px;
        color: #000
    }
}

@keyframes wiggle {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

[data-group="learn"] a[href="/pages/sustainability"] {
    display: none !important;
}

.compare-to-price {
    color: var(--color-grey-medium) !important;
    text-decoration: line-through;
}
#gift-card {
    section.product-reviews,
    .product-details,
    .product-rating,
    .product-material-headline {
        display: none !important;
    }
    .product-sizes {
        margin: 0 0 28px;
    }
    #ProductSubmitForm {
        ul, ol {
            margin: 0 0 18px;
            padding: 0 0 0 16px;
        }
    }
    select.gift-cart-select {
        width: 100px;
        font-size: 14px;
        padding: 8px 12px;
        margin: 0 0 0 8px;
        border: solid 1px var(--color-grey-soft);
        border-radius: 6px;
    }
}

svg.ac-pick {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 36px;
  @media (min-width: 700px) {
    width: 48px;
    right: 20px;
    bottom: 24px;
  }
}

.site-subnav__link[href*="/collections/bfcm"] { 
    border: solid 1px var(--color-blue-bright);
    border-radius: 6px;
    padding: 4px 7px;
}

.stl__products {
  svg.ac-pick {
    display: none;
  }
}

.plp-item:hover .plp-item__info.no-hover .plp-item__title {
  color: var(--color-black) !important;;
}
.plp-duplicate {
  display: none !important;
}

.plp-products__no-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 7.5% 36px 10%;

  h2 {
    margin-bottom: 0;
  }

  p {
    max-width: 300px;
  }
}